body {
    text-align: center;
    max-width: 100%;
    margin: 0;
}
main {
    background-image: url("/public/media/images/library-background-image.jpeg");
    background-size: cover;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    min-height: 100%;
    border-top: 1px solid grey;
}
main > div {
    border: 0.5px solid grey;
    border-radius: 10px;
    margin-left: 15%;
    margin-right: 15%;
    background-color: white;
}
/*.dark {
    background-color: #222;
    color: #e6e6e6;
}*/
#nav-bar {
    display: inline-flex;
    text-align: center;
    width: 100%;
    background-color: white;
}
#nav-bar-container {
    text-align: left;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 2%;
    max-width: 100%;
}
.nav-bar-button {
    width: fit-content;
    background-color: transparent;
    border: 0;
}
.nav-bar-button-container {
    margin-left: 2%;
    margin-right: 2%;
}
.nav-bar-button-container > p {
    font-weight: bold;
    margin: 0;
}
a > i {
    color: black;
    font-size: xx-large;
}
/*#theme-switch:hover {
    cursor: pointer;
    border: 2px;
}*/