body {
    padding: 2% 3% 10% 3%;
    text-align: center;
    max-width: 100%;
}
.dark {
    background-color: #222;
    color: #e6e6e6;
}
.fa-solid {
    font-size: 30px;
}
#theme-switch {
    width: fit-content;
    margin-left: 95%;
    background-color: transparent;
    border: 0;
}
#theme-switch:hover {
    cursor: pointer;
    border: 2px;
}